.quiz {
  max-width: 720px;
  padding: 20px 40px;
  overflow-y: scroll;

  .quiz-item {
    padding: 20px 0 8px;
    border-bottom: 1px solid #ccc;

    h2 {
      margin-bottom: 12px;
    }
  }

  .quiz-button {
    margin-top: 20px;
    display: flex;
    justify-content: center;
  }
}
