.quiz {
  max-width: 720px;
  padding: 20px 40px;
  overflow-y: auto;

  .quiz-error {
    margin-top: 20px;
    padding: 4px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fc1f1f;
    border: 1px solid;
  }

  .quiz-footer {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

    .quiz-result {
      margin-right: 30px;
      font-weight: 700;
    }
  }
}

/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #d6dbf5;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border: 1px solid #4d5b9e;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #4d5b9e;
}
